/** Animations **/

.right-panel.ng-leave.ng-leave-active {
  	-webkit-animation-name: fadeOut !important;
	-moz-animation-name: fadeOut !important;
	-o-animation-name: fadeOut !important;
	animation-name: fadeOut !important;
}

.alert.ng-leave.ng-leave-active {
  	-webkit-animation-name: fadeOut !important;
	-moz-animation-name: fadeOut !important;
	-o-animation-name: fadeOut !important;
	animation-name: fadeOut !important;
}
/** END **/

a:hover
{
	text-decoration: none;
	cursor: pointer;
}

.alert-icon
{
	height: 60px;
	width: 60px;
	padding: 10px 10 10 0;
	text-align: center;
}

.avatar-small
{
	height: 45px;
	width: 45px;
}

body
{
	background-image: url("../customCss/background-pattern.jpg");
	color: rgb(58, 57, 46);
}

.bordered-right
{
	border-right: 1px solid #CECAC4;
	-webkit-box-shadow: 1px 0px 0px 0px #fff;
	box-shadow: 1px 0px 0px 0px #fff;
}

.box
{
	-webkit-box-shadow: 0px 2px 40px 2px rgba(0,0,0,0.8);
	box-shadow: 0px 2px 40px 2px rgba(0,0,0,0.8);
	border-radius: 4px;
}

.box-sidebar
{
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4),0px 1px 2px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4),0px 1px 2px 0px rgba(255,255,255,0.2);
	border-radius: 4px;
}

.box-main-content
{
	width: 80%;
}

.box-header
{
	padding: 10px 20px 10px 20px;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #0D1318;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#263442), to(#263442));
	background-image: -webkit-linear-gradient(top, #263442, 0%, #263442, 100%);
	background-image: -moz-linear-gradient(top, #263442 0%, #263442 100%);
	background-image: linear-gradient(to bottom, #263442 0%, #263442 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff263442', endColorstr='#ff263442', GradientType=0);
	-webkit-box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1),0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1),0px 2px 3px 0px rgba(0,0,0,0.2);
	margin: 0px -1px;
}

.box-header > h1, h3
{
	text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
	margin: 0px 0px 0px 0px;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 0px;
	color: white;
}

.box-header > h1 > i
{
	margin-right: 10px;
}

.box-content-wrapper
{
	background-color: #F3F2E7;
	padding: 20px 20px 20px 20px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.box-content-wrapper.top-margins > .row
{
	margin-top: 20px;
}

.box-content-wrapper.top-margins > .row:nth-child(2)
{
	margin-top: 0px;
}

.box-content
{
	background-color: #F3F2E7;
}

.box-content > .modal-footer
{
	margin-top: 0px;
	padding: 10px 20px 10px;
}

.box-content > .modal-body > .box-small-wrapper > form
{
	margin-bottom: 0px;
}

.box-small-wrapper
{
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	border-radius: 4px;	
	background-color: #F9F9F4;
}

.box-small-content
{
	border: 1px solid #CECAC4;
	border-bottom: 1px solid #bbb;
	padding: 20px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05),inset 1px 1px 2px 0px #fff;
	box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05),inset 1px 1px 2px 0px #fff;
}

.box-small-content > h2
{
	font-size: 20px;
	margin-top: 0px;
}

.box-small-header > p
{
	color: rgb(58, 57, 46);
	font-size: 18px;
	text-transform: uppercase;
}

.box-small-header > small
{
	color: rgb(58, 57, 46);
	text-transform: uppercase;
}

.box-border-left-right
{
	border-left: 1px solid #CECAC4;
	border-right: 1px solid #CECAC4;
}

.box-nopadding
{
	padding: 0px 0px 0px 0px;
}

.box-nobottom-radius
{
	border-radius: 4px 4px 0px 0px;
}

.box-notop-radius
{
	border-radius: 0px 0px 4px 4px;
}

.box-no-radius
{
	border-radius: 0px 0px 0px 0px;
}

.box-noborder-bottom
{
	border-bottom: none;
}

.box-noborder-top
{
	border-top: none;
}

.box-noshadow-dark
{
	-webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.00),inset 1px 1px 2px 0px #fff;
	box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.00),inset 1px 1px 2px 0px #fff;
}

.breadcrumb-wrapper
{
	padding: 15px 10px 15px 10px;
}

.breadcrumb-container
{
	-webkit-box-shadow: 0px 2px 40px 2px rgba(0,0,0,0.8);
	box-shadow: 0px 2px 40px 2px rgba(0,0,0,0.8);
	border-radius: 4px;
}

.breadcrumb-body
{
	padding: 8px 15px;
	background-color: transparent;
	border-radius: 4px;
}

.btn > i
{
	margin-right: 5px;
}

.btn-default
{
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#FAF7F4), to(#F0EBE4));
	background-image: -webkit-linear-gradient(top, #FAF7F4, 0%, #F0EBE4, 100%);
	background-image: -moz-linear-gradient(top, #FAF7F4 0%, #F0EBE4 100%);
	background-image: linear-gradient(to bottom, #FAF7F4 0%, #F0EBE4 100%);
	border-radius: 4px;
}

.btn-default:active
{
	background-color: #F1EEE4;
	border-color: #adadad;
}

.center
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.circle-box
{
	width: 125;
	height: 125;	
}

.circle-box > p
{
	color: rgb(58, 57, 46);
	text-transform: uppercase;
	font-size: 30px;
}

.clear-both
{
	clear: both;
}

.column-left-fix
{
	padding-left: 0px;
}

.column-right-fix
{
	padding-right: 0px;
}

.column-inside-padding
{
	padding: 10px 0px 10px 0px;
}

.column-first
{
	padding-right: 0px;
}

.column-middle
{
	padding-left:0px;
	padding-right:0px;
}

.column-last
{
	padding-left:0px;
}

.divider-horizontal
{
	padding: 0px 10px 0px;
}

.divider-vertical
{
	padding: 10px 0px 10px;
}

.dropdown-menu {
	background-color: #263442;
}

.dropdown-menu > li > a 
{
	color: #FFFFFF;
}

.dropdown-menu > li > a > i
{
	margin-right: 10px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #161D25;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#161D25), to(#161D25));
	background-image: -webkit-linear-gradient(top, #161D25, 0%, #161D25, 100%);
	background-image: -moz-linear-gradient(top, #161D25 0%, #161D25 100%);
	background-image: linear-gradient(to bottom, #161D25 0%, #161D25 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff161D25', endColorstr='#ff161D25', GradientType=0);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
	color: #428bca;
}

.DEVELOPMENT
{
	border-left: 5px solid #A2D7F1;
}

.OPTIMALIZATION
{
	border-left: 5px solid #B9E5A7;
	
}

.TEST
{
	border-left: 5px solid #F7E89C;
}

.BUG
{
	border-left: 5px solid #EB9C9C;
}

.element-list > li 
{
	padding: 10px 10px 10px 10px;
}

.element.top
{
	vertical-align: top;
	display: table-row;
}

.element-middle
{
	vertical-align: middle;
}

.filter-box
{
	border-top: 1px solid #CECAC4;
	-webkit-box-shadow: 0px -1px 0px 0px #fff;
	box-shadow: 0px -1px 0px 0px #fff;
	padding: 10px 0 10px 0;
}

.fixed-layout
{
	position: fixed;
}

.help-block > .input-lg-icon
{
	color: inherit;
}

.inline
{
	display: inline-block;
}

.input-lg-icon { 
 	font-size: 25px; 
 	right: 8%; 
 	top: 50%; 
 	position: absolute; 
 	color: #263442;
}

.modal-header
{
	padding: 10px 20px 10px 20px;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #0D1318;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#263442), to(#263442));
	background-image: -webkit-linear-gradient(top, #263442, 0%, #263442, 100%);
	background-image: -moz-linear-gradient(top, #263442 0%, #263442 100%);
	background-image: linear-gradient(to bottom, #263442 0%, #263442 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff263442', endColorstr='#ff263442', GradientType=0);
	-webkit-box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1),0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1),0px 2px 3px 0px rgba(0,0,0,0.2);
}

.ADMIN
{
	background-color: #DDA4E4;
}

.navbar
{
	border-bottom: 1px solid #0D1318 !important;
}

.navbar-color
{
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#263442), to(#263442));
	background-image: -webkit-linear-gradient(top, #263442, 0%, #263442, 100%);
	background-image: -moz-linear-gradient(top, #263442 0%, #263442 100%);
	background-image: linear-gradient(to bottom, #263442 0%, #263442 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff263442', endColorstr='#ff263442', GradientType=0);
}

.nav-avatar
{
	padding: 5px 20px 5px !important;
}

.navbar-nav > li > a {
	text-shadow: 0 0px 0 rgba(255, 255, 255, 0.25);
	padding: 20px 20px 21px 20px;
	color: #FFFFFF;
}

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #161D25;
	color: #428bca
}

.no-padding
{
	padding: 0px 0px 0px 0px;
}

.no-margin
{
	margin: 0px 0px 0px 0px;
}

.navbar
{
	margin-bottom: 0px;
	border-bottom: 1px solid black;
	border-radius: 0px;
}

.padding-top
{
	padding-top: 10px;
}

.padding-left
{
	padding-left: 10px;
}

.project
{
	position: relative;
	background: #FFFFFF;
	padding: 5px;
	height: 95px;
	-webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05),inset 1px 1px 2px 0px #fff;
	box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05),inset 1px 1px 2px 0px #fff;
	border-radius: 4px;
}

.project-avatar
{
	width: 175px;
	height: 175px;
	background: #E6DBC7;
	border: 1px solid white;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.1),0px 1px 2px 0px #fff;
	box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.1),0px 1px 2px 0px #fff;
}

.project-content
{
	border: 1px solid #CECAC4;
	border-radius: 4px;
	margin-bottom: 10px;
}

.project-item-details
{
	position: absolute;
	left: 100px;
}

.project-item-avatar
{
	position: absolute;
}

.project-item-menu
{
	position: absolute;
	right: 5px;
	width: 100px;
}

.project-item-menu > a
{
	float: right;
	margin-bottom: 5px;
}

.project-item-title
{
	color: rgb(58, 57, 46);
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.project-item-description
{
	color: rgb(58, 57, 46);
	font-size: 12px;
	padding-right: 110px;
}

.project-wrapper
{
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	border-radius: 4px;
}

.right-panel
{
	padding-left: 15px;
	vertical-align: top;
	width: 25%;
}

.right-panel-styles
{
	margin-right: 35px;
	width: 22%;
}

.scrum-column > p
{
	margin: 0 0 0 0;
	padding: 10 10 10 15;
	text-transform: uppercase;
}

.select2-container .select2-choice
{
	overflow: visible;
}

.sidebar-list
{
	border: 1px solid #14161C;
	border-radius: 4px;
}

.sidebar-item
{
	display: block;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#263442), to(#263442));
	background-image: -webkit-linear-gradient(top, #263442, 0%, #263442, 100%);
	background-image: -moz-linear-gradient(top, #263442 0%, #263442 100%);
	background-image: linear-gradient(to bottom, #263442 0%, #263442 100%);
	border-bottom: 1px solid #192127;
	-webkit-box-shadow: inset 0px 1px 0px 0px #36424D;
	box-shadow: inset 0px 1px 0px 0px #36424D;
	padding: 10px;
	color: #FFFFFF !important;
}

.sidebar-item.active
{
	background: #364E66;
}

.sidebar-item:hover, .sidebar-item.active:hover
{
	text-decoration: none;
	background: #364E66;
}



.sidebar-item:first-child
{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1),0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1),0px 2px 3px 0px rgba(0,0,0,0.2);
}

.sidebar-item:last-child
{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 0px solid #192127;
}

.sidebar-left
{
	position: fixed;
	top: 0%;
	left: 0%;
	display: table;
	z-index: 2000;
	height: 100%;
}

.sidebar-left-show-btn
{
	margin-left: 25;
	position: absolute;
	background: rgba(0, 0, 0, 0.75);
	width: 35;
	height: 35;
	padding-top: 10px;
	text-align: center;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.sidebar-left-hide-btn
{
	display: block;
	height: 35px;
	text-align: center;
	padding-top: 10px;
}

.sidebar-left.left-hide
{
	margin-left: -35px;
}

.sidebar-left > .element
{
	display: table-cell;
	vertical-align:middle;
	width: 35px;
	background: rgba(0, 0, 0, 0.75);
	color: #e5e5e5;
	outline: 0 !important;
}

.subbar
{
	border-bottom: 1px solid black;
	min-height: 30px;
	font-size: 12px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.subbar-nav
{
	margin: 0px 5px 0px 5px;
}

.subbar-nav > li
{
	float: left;
}

.subbar-nav > li > a
{
	padding: 6px 10px;
	color: white;
}

.subtask:FIRST-CHILD
{
	border-top-width: 1;
}

.subtask
{
	background: #FFFFFF;
	padding: 5px 10px 5px 35px;
	height: 75px;
	border: 1px solid #CECAC4;
	border-top-width: 0;
	border-left: none;
	border-right: none;
	-webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05),inset 1px 1px 2px 0px #fff;
	box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05),inset 1px 1px 2px 0px #fff;
}

.subtask-avatar
{
	width: 45px;
	height: 45px;
	background: #E6DBC7;
	position: absolute;
	right: 5px;
	top: 5px;
}

.subtask-column
{
	display: table-cell;
	float: none;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
}

.subtask-column.column-top
{
	display: table-cell;
	float: none;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: none;
}

.subtask-column.column-top > p
{
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
}

.subtask-details
{
	padding-right: 45px;
}

.subtask-description
{
	-webkit-line-clamp: 2;
}

.subtask-done *
{
	text-decoration: line-through !important;
}

.subtask-table
{
	display: table;
	width: 100%;
	table-layout: fixed;	
}

.subtask-title
{
	display: -webkit-inline-box !important;
}

.subtask-type
{
	width: 35px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.sprint-details
{
	position: absolute;
	left: 215;
}

.sprint-details-header
{
	padding-right: 145px;
}

.table-layout
{
	display: table;
}

.table-cell-layout
{
	display: table-cell;
}

.task-header
{
	padding: 10px 10px 10px 10px;
	background-color: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #CECAC4;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05),inset 1px 1px 2px 0px #fff;
	box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05),inset 1px 1px 2px 0px #fff;
}

.task-wrapper
{
	border-radius: 4px;
	margin: 0px -10px 0 -10px;
	-webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.15);
}

.text-overflow
{
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.text-limit-1
{
	-webkit-line-clamp: 1;
}

.text-limit-2
{
	-webkit-line-clamp: 2;
}

textarea
{
	width: 100%;
}

.transitionable
{
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.widget-box
{
	border: 1px solid #CECAC4;
	-webkit-box-shadow: 0px 0px 0px 1px #fff;
	box-shadow: 0px 0px 0px 1px #fff;
	border-radius: 4px;
	margin: 15px 0px 15px 0px;
}

.widget-box > .alert
{
	margin-bottom: 0px;
	border: none;
}

.wrapper
{
	padding: 15px;
}

/* body { */
/* 	background-color: #3f4649; */
/* 	color: rgb(240, 240, 240); */
/* 	padding:0px; */
/* } */

/* body>.navbar .brand { */
/* 	color: rgb(22, 27, 37); */
/* } */

/* a { */
/* 	color: #31DF92; */
/* } */

/* a:hover { */
/* 	color: rgb(240, 240, 240); */
/* 	text-decoration: none; */
/* } */

/* a.list-group-item */
/* { */
/* 	color: rgb(240, 240, 240); */
/* } */

/* a.list-group-item > i */
/* { */
/* 	color: #23a86d; */
/* } */

/* a.list-group-item:hover > i */
/* { */
/* 	//background-color: rgb(62, 84, 107) !important; */
/* 	color: rgb(240, 240, 240); */
/* } */

/* a.list-group-item:hover */
/* { */
/* 	background-color: #23a86d !important; */
/* } */

/* .list-group-item.active */
/* { */
/* 	background-color: #2b473d !important; */
/* 	text-shadow: none !important; */
/* 	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2b473d), to(#2b473d )) !important; */
/* 	background-image: -webkit-linear-gradient(top, #2b473d , 0%, #2b473d , 100%) !important; */
/* 	background-image: -moz-linear-gradient(top, #2b473d  0%, #2b473d , 100%) !important; */
/* 	background-image: linear-gradient(to bottom, #2b473d  0%, #2b473d , 100%) !important; */
/* 	border-color: #23a86d !important; */
/* 	border-left: 5px solid #23a86d; */
/* 	padding-left: 12px; */
/* 	filter: none !important; */
/* 	border-bottom: 0px solid #38393a; */
/* } */

/* .active > i */
/* { */
/* 	color: #23a86d !important; */
/* } */

/* .list-group-item:last-child */
/* { */
/* 	border-bottom: 0px solid #38393a; */
/* } */

/* .list-group-item */
/* { */
/* 	background-color: #2d2f31; */
/* 	padding: 7px 15px; */
/* 	border: 0px solid rgb(17, 22, 31); */
/* 	-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 0px 0; */
/* 	-moz-box-shadow: rgba(255, 255, 255, 0.07) 0 0px 0; */
/* 	box-shadow: rgba(255, 255, 255, 0.07) 0 0px 0; */
/* 	border-bottom: 2px solid #38393a; */
/* } */

/* .alert */
/* { */
/* 	text-shadow: 0 0px 0 rgba(255, 255, 255, 0.2); */
/* 	-webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.25), 0 0px 2px rgba(0, 0, 0, 0.05); */
/* 	box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.25), 0 0px 2px rgba(0, 0, 0, 0.05); */
/* } */

/* .alert > p > a */
/* { */
/* 	color: #428bca; */
/* } */

/* .alert-info */
/* { */
/* 	color: #62b9b9; */
/* 	background-color: #455b5e; */
/* 	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#455b5e), to(#455b5e)); */
/* 	background-image: -webkit-linear-gradient(top, #455b5e, 0%, #455b5e, 100%); */
/* 	background-image: -moz-linear-gradient(top, #455b5e 0%, #455b5e 100%); */
/* 	background-image: linear-gradient(to bottom, #455b5e 0%, #455b5e 100%); */
/* 	border-color: transparent; */
/* } */

/* .alert-success */
/* { */
/* 	color: #23a86d; */
/* 	background-color: #3b554f; */
/* 	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3b554f), to(#3b554f)); */
/* 	background-image: -webkit-linear-gradient(top, #3b554f, 0%, #3b554f, 100%); */
/* 	background-image: -moz-linear-gradient(top, #3b554f 0%, #3b554f 100%); */
/* 	background-image: linear-gradient(to bottom, #3b554f 0%, #3b554f 100%); */
/* 	border-color: transparent; */
/* } */

/* .alert-danger */
/* { */
/* 	color: #ff8d7a; */
/* 	background-color: #574847; */
/* 	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#574847), to(#574847)); */
/* 	background-image: -webkit-linear-gradient(top, #574847, 0%, #574847, 100%); */
/* 	background-image: -moz-linear-gradient(top, #574847 0%, #574847 100%); */
/* 	background-image: linear-gradient(to bottom, #574847 0%, #574847 100%); */
/* 	border-color: transparent; */
	
/* } */

/* .alert.ng-hide-add,  */
/* .alert.ng-hide-remove  { */
/*   -webkit-transition:all linear 0.5s; */
/*   -moz-transition:all linear 0.5s; */
/*   -o-transition:all linear 0.5s; */
/*   transition:all linear 0.5s; */
/*   display:block!important; */
/* } */

/* .alert.ng-hide-add.ng-hide-add-active, */
/* .alert.ng-hide-remove { */
/* 	display:block!important; */
/*   opacity:0; */
/* } */
 
/* .alert.ng-hide-add, */
/* .alert.ng-hide-remove.ng-hide-remove-active { */
/*   opacity:1; */
/* } */

/* .col-lg-3.ng-hide-add,  */
/* .col-lg-3.ng-hide-remove  { */
/*   -webkit-transition:all linear 0.5s; */
/*   -moz-transition:all linear 0.5s; */
/*   -o-transition:all linear 0.5s; */
/*   transition:all linear 0.5s; */
/*   display:block!important; */
/* } */

/* .col-lg-3.ng-hide-add.ng-hide-add-active, */
/* .col-lg-3.ng-hide-remove { */
/*   display:block!important; */
/*   opacity:0; */
/* } */
 
/* .col-lg-3.ng-hide-add, */
/* .col-lg-3.ng-hide-remove.ng-hide-remove-active { */
/*   opacity:1; */
/* } */

/* .add-task */
/* { */
/* 	background: #2d2f31; */
/* 	border-radius: 4px; */
/* 	background-image: -webkit-gradient(linear, right 25%, right 25%, from(#22a86c), to(#2d2f31)); */
/* 	background-image: -webkit-linear-gradient(right, #22a86c, 25%, #2d2f31, 25%); */
/* 	background-image: -moz-linear-gradient(right, #22a86c 25%, #2d2f31 25%); */
/* 	background-image: linear-gradient(to right, #22a86c 25%, #2d2f31 25%); */
/* 	background-image: linear-gradient(right, #22a86c 25%, #FAC815 25%); */
/* } */

/* .breadcrumb */
/* { */
/* 	background-color: rgba(0, 0, 0, 0.27); */
/* } */

/* .breadcrumb > li { */
/* 	text-shadow: none; */
/* } */

/* .bs-docs-example { */
/* 	background-color: #34495E; */
/* 	border: 6px solid #1ABC9C; */
/* 	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) */
/* 		0 1px 7px 0px inset; */
/* } */

/* .bs-docs-example:after { */
/* 	content: none; */
/* 	background-color: #34495E; */
/* 	border: 1px solid #1ABC9C; */
/* 	color: #1ABC9C; */
/* 	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) */
/* 		0 1px 7px 0px inset; */
/* } */

/* .container-circle { */
/* 	border-radius: 50%; */
/* } */

/* textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input */
/* 	{ */
/* 	color: white !important; */
/* 	background-color: #333537 !important; */
/* 	border: 1px solid #276c4f; */
/* 	width: 100%; */
/* 	border-radius: 4px; */
	
/* } */

/* .well-header */
/* { */
/* 	background: #2b473d; */
/* 	border-radius: 4px; */
/* 	margin: -20 -20 10 -20; */
/* 	padding: 10 10 10 10; */
/* } */

/* .well-header > span */
/* { */
/* 	font-size: 16px; */
/* } */

/* .well.ng-hide-add,  */
/* .well.ng-hide-remove  { */
/*   -webkit-transition:all linear 0.5s; */
/*   -moz-transition:all linear 0.5s; */
/*   -o-transition:all linear 0.5s; */
/*   transition:all linear 0.5s; */
/*   display:block!important; */
/* } */

/* .well.ng-hide-add.ng-hide-add-active, */
/* .well.ng-hide-remove { */
/*   opacity:0; */
/* } */
 
/* .well.ng-hide-add, */
/* .well.ng-hide-remove.ng-hide-remove-active { */
/*   opacity:1; */
/* } */

/* .form-group.ng-hide-add,  */
/* .form-group.ng-hide-remove  { */
/*   -webkit-transition:all linear 0.5s; */
/*   -moz-transition:all linear 0.5s; */
/*   -o-transition:all linear 0.5s; */
/*   transition:all linear 0.5s; */
/*   display:block!important; */
/* } */

/* .form-group.ng-hide-add.ng-hide-add-active, */
/* .form-group.ng-hide-remove { */
/*   opacity:0; */
/* } */
 
/* .form-group.ng-hide-add, */
/* .form-group.ng-hide-remove.ng-hide-remove-active { */
/*   opacity:1; */
/* } */

/* [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { */
/*   display: none !important; */
/* } */

/* .dropdown-menu { */
/* 	background-color: #2d2f31; */
/* } */

/* .dropdown-menu > li{ */
/* 	border-top: 1px solid #38393a; */
/* } */

/* .dropdown-menu > li > a { */
/* 	color : rgb(240,240,240); */
/* } */

/* .dropdown-menu > li > a > i{ */
/* 	color : #23a86d; */
/* } */

/* .dropdown-menu > li > a:hover { */
/* 	background-color: #23a86d; */
/* 	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#23a86d), to(#23a86d)); */
/* 	background-image: -webkit-linear-gradient(top, #23a86d, 0%, #23a86d, 100%); */
/* 	background-image: -moz-linear-gradient(top, #23a86d 0%, #23a86d 100%); */
/* 	background-image: linear-gradient(to bottom, #23a86d 0%, #23a86d 100%); */
/* 	background-repeat: repeat-x; */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a86d', endColorstr='#23a86d', GradientType=0); */
/* } */

/* .dropdown-menu > li > a:hover > i{ */
/* 	color : rgb(240, 240, 240);	 */
/* } */

/* .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { */
/* 	background-color: #23a86d; */
/* } */

/* .navbar-inverse .navbar-nav > .open > a > i, .navbar-inverse .navbar-nav > .open > a:hover > i, .navbar-inverse .navbar-nav > .open > a:focus > i{ */
/* 	color : rgb(240, 240, 240);	 */
/* } */

/* .nav-avatar */
/* { */
/* 	padding: 10px 15px 9px 15px !important; */
/* } */

/* .nav-avatar > img */
/* { */
/* 	width: 40px; */
/* 	height: 40px; */
/* } */

/* .loadin */
/* { */
/*    animation: fadein 0.6s; */
/*     -moz-animation: fadein 0.6s; Firefox */
/*     -webkit-animation: fadein 0.6s; Safari and Chrome */
/*     -o-animation: fadein 0.6s; Opera */
/* } */

/* @keyframes fadein { */
/*     from { */
/*         opacity:0; */
/*     } */
/*     to { */
/*         opacity:1; */
/*     } */
/* } */
/* @-moz-keyframes fadein { Firefox */
/*     from { */
/*         opacity:0; */
/*     } */
/*     to { */
/*         opacity:1; */
/*     } */
/* } */
/* @-webkit-keyframes fadein { Safari and Chrome */
/*     from { */
/*         opacity:0; */
/*     } */
/*     to { */
/*         opacity:1; */
/*     } */
/* } */
/* @-o-keyframes fadein { Opera */
/*     from { */
/*         opacity:0; */
/*     } */
/*     to { */
/*         opacity: 1; */
/*     } */
/* } */

/* .input-lg:focus { */
/* 	box-shadow: 0 0 15px #1ABC9C !important; */
/* 	-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); */
/* 	-moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1); */
/* } */

/* .input-lg-icon { */
/* 	font-size: 25px; */
/* 	right: 5%; */
/* 	top: 50%; */
/* 	position: absolute; */
/* } */

/* .input-box { */
/* 	position: relative; */
/* } */

/* .icon-padding */
/* { */
/* 	padding-right: 0.5em;	 */
/* } */

/* .concave { */
/* 	background-color: #263545 !important; */
/* 	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px */
/* 		7px 0px inset !important; */
/* } */

/* .box-concave { */
/* 	position: relative; */
/* 	margin: 15px 0; */
/* 	padding: 14px 19px 14px; */
/* 	-webkit-border-radius: 4px; */
/* 	-moz-border-radius: 4px; */
/* 	border-radius: 4px; */
/* 	background-color: #263545 !important; */
/* 	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px */
/* 		7px 0px inset !important; */
/* } */

/* legend { */
/* 	padding: 0 10 5 0; */
/* 	color: rgb(240, 240, 240); */
/* 	-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 0px 0; */
/* 	-moz-box-shadow: rgba(255, 255, 255, 0.07) 0 0px 0; */
/* 	box-shadow: rgba(255, 255, 255, 0.07) 0 0px 0; */
/* 	border-bottom: 6px solid #23a86d; */
/* } */

/* .colorize { */
/* 	color: #23a86d !important; */
/* } */

/* .control-label.label-lg { */
/* 	font-size: 20px; */
/* 	color: #c6c6c6; */
/* } */

/* .span-concave { */
/* 	padding-top: 5px; */
/* 	padding-left: 10px; */
/* 	-webkit-border-radius: 4px; */
/* 	-moz-border-radius: 4px; */
/* 	border-radius: 4px; */
/* 	background-color: #263545 !important; */
/* 	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px */
/* 		7px 0px inset !important; */
/* 	-webkit-border-radius: 4px; */
/* } */

/* .navbar */
/* { */
/* 	border-radius: 0px; */
/* 	-webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.15), 0 0px 5px rgba(0, 0, 0, 0.075); */
/* 	box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.15), 0 0px 5px rgba(0, 0, 0, 0.075); */
/* } */

/* .navbar-inverse */
/* { */
/* 	border-color: #2d2f31; */
/* 	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2d2f31), to(#2d2f31)); */
/* 	background-image: -webkit-linear-gradient(top, #2d2f31, 0%, #2d2f31, 100%); */
/* 	background-image: -moz-linear-gradient(top, #2d2f31 0%, #2d2f31 100%); */
/* 	background-image: linear-gradient(to bottom, #2d2f31 0%, #2d2f31 100%); */
/* 	background-repeat: repeat-x; */
/* } */

/* .navbar .divider-vertical */
/* { */
/* 	height: 3.2em; */
/* } */

/* .navbar .nav > li */
/* { */
/* 	border-right-color: #344251; */
/* 	border-left-color: rgb(17, 22, 31); */
/* } */

/* .navbar-inverse .brand,.navbar-inverse .nav>li>a { */
/* 	color: rgb(240, 240, 240); */
/* 	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25); */
/* 	font-size: 18px; */
/* } */

/* .navbar-inverse .brand,.navbar-inverse .nav>li>a:hover { */
/* 	background-color: #23a86d; */
/* } */


/* .navbar-inverse .brand,.navbar-inverse .nav>li>a:hover > i { */
/* 	color: rgb(240, 240, 240); */
/* } */

/* .navbar-inverse .brand,.navbar-inverse .nav>li>a > i { */
/* 	color: #23a86d; */
/* 	font-size: 28px; */
/* } */

/* .navbar-inverse .divider-vertical { */
/* 	border-right-color: #344251; */
/* 	border-left-color: rgb(17, 22, 31); */
/* } */

/* .navbar-inverse .nav .active>a { */
/* 	color: rgb(240, 240, 240); */
/* 	background-color: #263545 !important; */
/* 	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px, rgba(0, 0, 0, 0.8) 0 1px */
/* 		7px 0px inset !important; */
/* 	border-radius: 0px; */
/* 	border-bottom: 2px solid rgb(24, 252, 206); */
/* } */

/* .navbar-inverse .nav .active>a:hover { */
/* 	color: rgb(24, 252, 206); */
/* } */

/* .navbar-inverse .navbar-search .search-query:focus { */
/* 	text-shadow: none; */
/* } */

/* .nomargin */
/* { */
/* 	margin: 0px; */
/* } */

/* .page-header { */
/* 	padding-bottom: 0px; */
/* 	margin: 0px 0 0px; */
/* 	color: rgb(240, 240, 240); */
/* 	-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0; */
/* 	-moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0; */
/* 	box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0; */
/* 	border-bottom: 1px solid rgb(17, 22, 31); */
/* } */

/* .page-header > h1 */
/* { */
/* 	margin-top: 0px; */
/* } */

/* .subbar */
/* { */
/* 	margin-top: -20px; */
/* 	margin-bottom: 20px; */
/* 	height: 2.2em; */
/* 	background-color: #292B2C; */
/* 	border-bottom: 0px solid #182029; */
/* } */

/* .subbar-nav */
/* { */
/* 	padding-right: 15px; */
/* 	padding-left: 15px; */
/* } */

/* .subbar-nav .nav > li > a */
/* { */
/* 	text-shadow: none; */
/* 	color: rgb(240, 240, 240); */
/* 	padding-top: 5px; */
/* 	padding-bottom: 6px; */
/* } */

/* .subbar-nav .nav > li > a > i */
/* { */
/* 	color: #23a86d; */
/* } */

/* .subbar-nav .nav > li > a:hover */
/* { */
/* 	background: #23a86d; */
/* 	color: rgb(240,240,240); */
/* } */

/* .subbar-nav .nav > li > a:hover > i */
/* { */
/* 	color: rgb(240,240,240); */
/* } */

/* .success-colorize */
/* { */
/* 	color: #6CCA6D; */
/* } */

/* .large-font */
/* { */
/* 	font-size: 2em; */
/* } */

/* .font-center */
/* { */
/* 	padding-left: 10px; */
/* 	vertical-align: text-bottom; */
/* } */

/* li.sub-active > a */
/* { */
/* 	border-top: 2px solid #23a86d; */
/* 	background: #2c3835; */
/* 	padding-top: 3px !important; */
/* 	color: #23a86d !important ; */
/* } */

/* li.sub-active > a:hover */
/* { */
/* 	background: #23a86d; */
/* 	color: rgb(240,240,240) !important; */
/* } */

/* .well */
/* { */
/* 	background: #2d2f31; */
/* 	border: 0; */
/* 	-webkit-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.05), 0 0px 0 rgba(255, 255, 255, 0.1); */
/* 	box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.05), 0 0px 0 rgba(255, 255, 255, 0.1); */
/* } */
/* .wrapper */
/* { */
/* 	margin-left: 15px; */
/* 	margin-right: 15px; */
/* } */

/* .btn */
/* { */
/* 	border : none; */
/* } */

/* .btn-primary */
/* { */
/* 	background-image: -webkit-linear-gradient(top, #22a86c, */
/* 		#22a86c) !important; */
/* } */

/* .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] */
/* { */
/* 	color: white; */
/* 	background-image: -webkit-linear-gradient(top, #1D8858, */
/* 		#1D8858) !important; */
/* } */

/* .btn-danger */
/* { */
/* 	background-image: -webkit-linear-gradient(top, #dc5560, */
/* 		#dc5560) !important;	 */
/* } */

/* .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] */
/* { */
/* 	color: white; */
/* 	background-image: -webkit-linear-gradient(top, #c64955, */
/* 		#c64955) !important; */
/* } */

/* .form-horizontal .control-label */
/* { */
/* 	padding-top: 0px; */
/* } */

/* .help-block  */
/* { */
/* 	margin-bottom: 0px; */
/* } */

/* .full-width */
/* { */
/* 	width: 100%; */
/* } */

/* .full-height */
/* { */
/* 	height: 100%; */
/* } */

/* .full-dimensions */
/* { */
/* 	width: 100%; */
/* 	height: 100%; */
/* } */

/* .top-margin */
/* { */
/* 	margin-top: 15; */
/* } */

/* .subtask */
/* { */
/* 	height: 75px; */
/* 	background: #2d2f31; */
/* 	border: 1px dashed #376253; */
/* 	padding: 5 10 5 0; */
/* } */

/* .subtask-text */
/* { */
/*    overflow: hidden; */
/*    text-overflow: ellipsis; */
/*    display: -webkit-box; */
/*    -webkit-box-orient: vertical; */
/* } */

/* .text-limit-1 */
/* { */
/* 	  -webkit-line-clamp: 1; number of lines to show */
/* }	 */

/* .text-limit-2 */
/* { */
/* 	  -webkit-line-clamp: 2; number of lines to show */
/* }	 */

/* .subtask-type */
/* { */
/* 	width: 5px; */
/* 	height: 100%; */
/* 	border-radius: 5px; */
/* } */

/* .subtask-type.DEVELOPMENT */
/* { */
/* 	background: #0a9a9d; */
/* } */

/* .subtask-type.OPTIMALIZATION */
/* { */
/* 	background: #0080ff; */
/* } */

/* .subtask-type.TEST */
/* { */
/* 	background: #9b58b5; */
/* } */

/* .subtask-type.BUG */
/* { */
/* 	background: #d9414e; */
/* } */

/* .subtask-title.DONE, .subtask-description.DONE */
/* { */
/* 	text-decoration: line-through; */
/* } */

/* .subtask-type > i  */
/* { */
/* 	color : #247f56; */
/* } */

/* .subtask-avatar */
/* { */
/* 	height: 40px; */
/* 	width: 40px; */
/* 	background: #1c6e4a; */
/* 	border-radius: 3px; */
/* } */

/* .subtask-border */
/* { */
/* 	width: 5px; */
/* 	height: 100%; */
/* } */

/* .subtask-title */
/* { */
/* 	color: #31DF92; */
/* } */

/* .subtask-title:hover */
/* { */
/* 	color: rgb(240, 240, 240); */
/* } */

/* .border-1 */
/* { */
/* 	background-color: rgb(42, 154, 207); */
/* 	-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0; */
/* 	-moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0; */
/* 	box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0; */
/* } */

/* .bottom-margin */
/* { */
/* 	margin-bottom: 15; */
/* } */

/* .scrum-columns */
/* { */
/* 	background-color: #383a3c; */
/* 	padding: 5 10 5 10; */
/* 	min-height: 95px; */
/* } */

/* .columns-inside-padding */
/* { */
/* 	padding: 10 5 10 5; */
/* } */

/* .columns-top */
/* { */
/* 	border-top-left-radius: 0px 0px; */
/* 	border-top-right-radius: 0px 0px; */
/* } */

/* .columns-top:first-child */
/* { */
/* 	border-top-left-radius: 10px 5px; */
/* 	border-top-right-radius: 0px 0px; */
/* } */

/* .columns-top:last-child */
/* { */
/* 	border-top-left-radius: 0px 0px; */
/* 	border-top-right-radius: 10px 5px; */
/* } */

/* .columns-header */
/* { */
/* 	margin-left: -10px; */
/* 	margin-right: -10px; */
/* 	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2d2f31), to(#2d2f31)); */
/* 	background-image: -webkit-linear-gradient(top, #2d2f31, 0%, #2d2f31, 100%); */
/* 	background-image: -moz-linear-gradient(top, #2d2f31 0%, #2d2f31 100%); */
/* 	background-image: linear-gradient(to bottom, #2d2f31 0%, #2d2f31 100%); */
/* 	border-radius: 4px; */
/* 	min-height: 0px; */
/* 	border: 1px solid #376253; */
/* } */

/* .columns-header > small  */
/* { */
/* 	color: #868E96; */
/* } */

/* .content-container */
/* { */
/* 	border-top: 1px solid rgb(32, 40, 54) !important; */
/* 	border-left: 1px solid rgb(32, 40, 54) !important; */
/* 	padding: 1em 0em 0em 0em; */
/* 	position: relative; */
/* 	z-index: 100; */
/* } */

/* .table */
/* { */
/* display: table; */
/* margin: 0; */
/* } */

/* .cell { */
/* display: table-cell; */
/* vertical-align: top; */
/* float:none; */
/* } */

/* .second */
/* { */
/* 	background: #333536; */
/* } */

/* .modal-header */
/* { */
/* 	border-top-left-radius: 5px; */
/* border-top-right-radius: 5px; */
/* background: #22a86c; */
/* border-bottom: none; */
/* } */

/* .modal-content */
/* { */
/* 	background: #3f4649; */
/* } */

/* .modal-footer */
/* { */
/* 	border-top: none; */
/* 	background: #37393a; */
/* } */

/* .form-control */
/* {	 */
/* 	border: 1px solid #276c4f; */
/* } */

/* select:focus */
/* { */
/* 	border-color: #276c4f !important; */
/* 	box-shadow: 0 0 15px #1ABC9C !important; */
/* 	-webkit-box-shadow: 0 0 5px #1ABC9C; */
/* 	-moz-box-shadow: 0 0 5px #1ABC9C; */
/* } */

/* select */
/* { */
/* 	background: #333537 !important; */
/* 	-webkit-box-shadow: none !important; */
/* 	box-shadow: none !important; */
/* } */

/* .modal-body */
/* { */
/* 	overflow: auto; */
/* 	max-height: 400px; */
/* } */

/* .modal-textarea */
/* { */
/* 	height: 100px; */
/* 	width: 100%; */
/* 	border-radius: 4px; */
/* } */

/* .select2-container .select2-choice */
/* { */
/* 	overflow: visible; */
/* 	border: 1px solid #276c4f; */
/* 	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333537), color-stop(0.5, #333537)); */
/* 	background-image: -webkit-linear-gradient(center bottom, #333537 0%, #333537 50%); */
/* 	background-image: -moz-linear-gradient(center bottom, #333537 0%, #333537 50%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333537', endColorstr = '#333537', GradientType = 0); */
/* 	background-image: linear-gradient(top, #333537 0%, #333537 50%); */

/* } */

/* .select2-container .select2-choice .select2-arrow */
/* { */
/* 	width: 12%; */
/* 	border-left: 1px solid #1f9963; */
/* 	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #22a86c), color-stop(0.6, #22a86c)); */
/* 	background-image: -webkit-linear-gradient(center bottom, #22a86c 0%, #22a86c 60%); */
/* 	background-image: -moz-linear-gradient(center bottom, #22a86c 0%, #22a86c 60%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#22a86c', endColorstr = '#22a86c', GradientType = 0); */
/* 	background-image: linear-gradient(top, #22a86c 0%, #22a86c 60%); */
/* } */

/* .select2-container .select2-choice .select2-arrow b */
/* { */
/* 	background: none; */
/* 	color: #f0f0f0; */
/* 	font-size: 26px; */
/* 	padding-left: 15px; */
/* } */

/* .select2-container .select2-choice .select2-arrow b:before */
/* { */
/* 	content: "\f107"; */
/* 	font-family: FontAwesome; */
/* } */

/* .select2-container .select2-choice > .select2-chosen  */
/* { */
/* 	color: #f0f0f0; */
/* } */

/* .select2-drop */
/* { */
/* 	background: #2d2f31; */
/* 	color: rgb(240, 240, 240); */
/* } */

/* .select2-drop-active  */
/* { */
/* 	border: 1px solid #2d2f31; */
/* } */

/* .select2-results li */
/* { */
/* 	border-top: 1px solid #3a3c3e; */
/* } */

/* .select2-results .select2-highlighted */
/* { */
/* 	background: #22a86c; */
/* } */

/* .select2-dropdown-open .select2-choice */
/* { */
/* 	-moz-box-shadow: 0 0 1px 1px #161817; */
/* 	-webkit-box-shadow: 0 0 1px 1px #161817; */
/* 	box-shadow: 0 0 1px 0px #161817; */
/* } */

/* .select2-search input */
/* { */
/* 	background: url('select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #333537), color-stop(0.99, #333537)); */
/* } */

/* .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit */
/* { */
/* 	background: #424242; */
/* } */

/* .well.well-page-header */
/* { */
/* 	padding: 10 15 0 15; */
/* } */

/* .project */
/* { */
/* 	min-height: 50px; */
/* 	background: #232425; */
/* 	border-radius: 4px; */
/* } */

/* .project-header */
/* { */
/* 	font-size: 22px; */
/* 	padding-top: 15px; */
/* 	color: #249b66; */
/* } */

/* .project-description */
/* { */
/* 	overflow: hidden; */
/* 	  display: -webkit-box; */
/* 	text-overflow: ellipsis; */
/* 	-webkit-line-clamp: 2; */
/* -webkit-box-orient: vertical; */
/* } */

/* .project-list-group */
/* { */
/* 	padding-top: 15; */
/* 	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075); */
/* 	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075); */
/* } */

/* .btn-group.project-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { */

/* 	border-top-left-radius: 0; */
/* } */

/* .btn-group.project-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { */
/* 	border-top-right-radius: 0; */
/* } */

/* .project-list-group > .list-group-item */
/* { */
/* 	background-color: #232425; */
/* } */

/* .project-list-group > .list-group-item:first-child */
/* { */
/* 	border-top-left-radius: 0px; */
/* 	border-top-right-radius: 0px; */
/* } */

/* .project-list-group > .list-group-item:last-child */
/* { */
/* 	border-bottom-left-radius: 0px; */
/* 	border-bottom-right-radius: 0px; */
/* } */

/* .progress */
/* { */
/* 	margin-bottom: 10px; */
/* 	background-color: #383a3c; */
/* 	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#383a3c), to(#383a3c)); */
/* 	background-image: -webkit-linear-gradient(top, #383a3c, 0%, #383a3c, 100%); */
/* 	background-image: -moz-linear-gradient(top, #383a3c 0%, #383a3c 100%); */
/* 	background-image: linear-gradient(to bottom, #383a3c 0%, #383a3c 100%); */
/* 	background-repeat: repeat-x; */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383a3c', endColorstr='#383a3c', GradientType=0); */
/* } */

/* .progress-bar */
/* { */
/* 	background-color: #22a86c; */
/* 	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#22a86c), to(#22a86c)); */
/* 	background-image: -webkit-linear-gradient(top, #22a86c, 0%, #22a86c, 100%); */
/* 	background-image: -moz-linear-gradient(top, #22a86c 0%, #22a86c 100%); */
/* 	background-image: linear-gradient(to bottom, #22a86c 0%, #22a86c 100%); */
/* 	background-repeat: repeat-x; */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22a86c', endColorstr='#22a86c', GradientType=0); */
/* } */

/* .sr-only */
/* { */
/* 	position: relative; */
/* } */

/* .task-panel-right */
/* { */
/* 	height: 100%; */
/* } */

/* .task-panel-sub-header */
/* { */
/* 	border-bottom: 2px solid #23a86d; */
/* 	margin-bottom: 10px; */
/* 	margin-top: 5px; */
/* } */

/* .task-panel-right-header */
/* { */
/* 	font-size: 18px; */
/* 	margin: -20 -20 10 -20; */
/* 	padding: 10 10 10 10; */
/* 	background: #23a86d; */
/* 	border-top-left-radius: 4px; */
/* 	border-top-right-radius: 4px; */
/* } */

/* .shown */
/* { */
/* 	display: block !important; */
/* 	   animation: fadein 0.6s; */
/*     -moz-animation: fadein 0.6s; Firefox */
/*     -webkit-animation: fadein 0.6s; Safari and Chrome */
/*     -o-animation: fadein 0.6s; Opera */
/* } */

